
@font-face {
  font-family: "headerFont";
  src: url("fonts/NoisyWalk.ttf") format("truetype");
  
}
@font-face {
  font-family: "paragraphFont";
  src: url("fonts/boldFont.otf") format("opentype");
  
}

@font-face {
  font-family: "footerFont";
  src: url("fonts/KOMIKAX_.ttf") format("truetype");
  
}


h1,h2 {
  font-family: "headerFont";
  color: rgb(29, 29, 29);
}
p {
  font-family: "paragraphFont";
}


.glow {
  
  text-shadow: 0 0 5px #e0e0e0, 0 0 5px #ffffff, 0 0 25px #7e6868;
  color: rgb(37, 37, 37)
  
}

.footer-links {
  font-size: small;
  font-family: "footerFont";
  color: #9e9696;
}

.footer-credit {
  
  font-family: "footerFont";
  color: #9e9696;
}
